
* {
    font-family: 'Poppins' ;
    margin: 0;
    padding:0;
    }


    section{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        min-height: 100vh;
        background: url(img/2.jpg);
        background-position: center;
        background-size: cover;
    }
    .contenedor{
        position: relative;
        width: 400px;
        border: 2px;
        border-radius: 20px;
        backdrop-filter: blue(15px);
        height: 450px;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .registrarse{
        background-color: brown;
    }
